h1{
color:#ffffff;
}

.header{
background-color:rgb(219, 127, 255);
display:flex;
justify-content:space-between;
}
.grid{
    display:flex;
    flex-wrap: wrap ;
    justify-content:space-evenly;
    margin: 20px;
    }
    .footer{
    display: flex;
    justify-content: flex-end;
    }
    p,h2{
    text-align:center;}
    body{
    background-color:#f5a2f7 ;
    }
    a:link{
    color:white;
    }
    a:visited{
    color:black;
    }
    .menu{
    margin-right: 30px;
    }
    .menu a{
    margin-left: 20px;
    }
    .item{
    position:relative;
    }
    .item p{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    opacity: 0;
    }
    .item:hover p{
    opacity: 1;
    }

    .item:hover img{
    opacity: 0.23;
    }